# tenor basis swap
Mark to market value of 3M-6M tenor basis swap of JPY is given by

$
\begin{align}
V_{ts}(t) &= V_{\text{6M}} - V_{\text{3M}} \\
            &= \Sigma_{i = 1}^{n^{6M}} D^{6M}(t^{6M}_{i}) L^{6M}(t, t^{6M}_{i-1}, t^{6M}_{i}) \delta^{6M}_{t^{6M}_{i}}
            - \Sigma_{j = 1}^{n^{3M}} D^{3M}(t^{3M}_{j}) \left(L^{3M}(t, t^{3M}_{j-1}, t^{3M}_{j}) + \alpha^{6-3}_{t, n^{3M}} \right) \delta^{3M}_{t^{3M}_{j}} \\
            &= \left( D^{6M}(t^{6M}_{0}) - D^{6M}(t^{6M}_{n^{6M}})\right) - 
            \Sigma_{j = 1}^{n^{3M}} D^{3M}(t^{3M}_{j}) \left(L^{3M}(t, t^{3M}_{j-1}, t^{3M}_{j}) + \alpha^{6-3}_{t, n^{3M}} \right)
\end{align}
$

where $\alpha^{6-3}_{t, n^{3M}}$ is a tenor basis spread with matuiry of corresponding tenor basis swap. This notation is the same as $\alpha^{6-3}_{t, n^{6M}}$ because both cash flows will finish at the same time on maturity.

$
L^{3M}(t, t_{i-1}, t_{i}) = \frac{
\left( D^{6M}(t^{6M}_{0}) - D^{6M}(t^{6M}_{N}) \right)
- \Sigma_{i}^{M - 1} D(t^{3M}_{i - 1}) \left( L^{3M}(t, t^{3M}_{i-2}, t^{3M}_{i-1}) + \alpha^{3-6}_{M} \right) \delta^{3M}
}
{D(t^{3M}_{i}) \delta^{3M}} - \alpha^{3-6}_{M}
$

In [1]:
import pandas as pd
import numpy as np
from  single_df_curve import single_df_curve
import os
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [239]:
input_path = '/Users/susynishida/Desktop/dev/Python/Finance/input/20180731'
file_name = 'TenorBasis.csv'
file_path = os.path.join(input_path, file_name)

In [240]:
df_tb = pd.read_csv(file_path)
df_tb.head()

        date        item  ccy tenor maturity  spread      dcc
0  2018/7/31  TenorBasis  JPY    3M       1Y  -0.008  act/365
1  2018/7/31  TenorBasis  JPY    3M       2Y  -0.009  act/365
2  2018/7/31  TenorBasis  JPY    3M       3Y  -0.010  act/365
3  2018/7/31  TenorBasis  JPY    3M       4Y  -0.010  act/365
4  2018/7/31  TenorBasis  JPY    3M       5Y  -0.010  act/365

In [283]:
def generate_cash_flow_month_list(initial_date, end_date, freq_month):
    """
    input: start date, maturity date, frequency of month
    output: a list of month of corresponding frequency (type is integer)
    """
    num_month = datetime.datetime.strptime(initial_date, '%Y/%m/%d').month
    month_list = [num_month]
    int_freq_month = int(freq_month[:-1])
    len_iteration = int(12 / int_freq_month)
    for i in range(len_iteration - 1):
        num_month += int_freq_month
        if num_month > 12:
            num_month -= 12
        else:
            pass
        month_list.append(num_month)
    return month_list

def generate_cash_flow_month(initial_date, end_date, freq_month, roll_date):
    """
    return datetime dataframe with designated roll_date and a list of month of corresponding frequency
    """
    cashflow_list = generate_cash_flow_month_list(initial_date, end_date, freq_month)
    df_tmp = pd.date_range(start=initial_date, end=end_date)
    df_dt = df_tmp[(df_tmp.day == roll_date) & (df_tmp.month.isin(cashflow_list))]
    return df_dt

def dcc_to_int_days(str_dcc):
    if (str_dcc=='act/365'):
        int_days = int(365)
    else:
        print('new day count fraction... Check str!')
    return int_days

In [297]:
class TenorBasis():
    def __init__(self, df, str_ccy):
        self._df = df[df['ccy'] == str_ccy]
        self._ccy = str_ccy
        self._str_tenor = (self._df['tenor'].unique())[0]
        self._int_tenor_m = int((self._str_tenor)[:-1])
        self._float_tenor_y = (self._int_tenor_m) / 12
        self._int_max_mat = int((self._df.iloc[-1]['maturity'])[:-1])
        self._str_dcc = self._df['dcc'].iloc[0]
        self._int_dcc = dcc_to_int_days(self._str_dcc)
        
    def add_col_mat_interp(self):
        df_add_col = (self._df).copy()
        df_add_col['flo_mat_for_intep'] = df_add_col['maturity'].apply(lambda x: float(x[:-1]))
        return df_add_col
        
    def gen_maturity(self):
        maturity_list = np.arange(0, self._int_max_mat + self._float_tenor_y, self._float_tenor_y)
        return maturity_list
    
    def gen_df_for_interp(self):
        df_maturity = pd.DataFrame(self.gen_maturity(), columns=['maturity_for_interp'])
        df_add_col = self.add_col_mat_interp()
        df_for_intep = pd.merge(df_maturity, df_add_col, left_on='maturity_for_interp', right_on='flo_mat_for_intep', how='outer')
        return df_for_intep
    
    def interp_spread(self):
        df_for_intep = self.gen_df_for_interp()
        df_for_intep.iloc[0] = 0
        df_interp = (df_for_intep.set_index('maturity_for_interp')[['spread']]).interpolate('index')
        return df_interp
    
    def get_DF(self, df_IR, initial_date, end_date, date_index=True):
        DF_obj = single_df_curve.discount_factor(df_IR, self._ccy)
        df_DF = pd.DataFrame(DF_obj.get_array_DF(initial_date, end_date, 'cubic', 'cubic'), columns=['date', 'DF'])
        if (date_index):
            df_DF['date'] = pd.to_datetime(df_DF['date'])
            df_DF.set_index('date', inplace=True)
        else:
            None
        return df_DF
    
    def gen_cash_flow_with_DF(self, df_IR, initial_date, end_date, freq_month, roll_date):
        df_cash_flow = pd.DataFrame(index=generate_cash_flow_month(initial_date, end_date, freq_month, roll_date=2))
        df_DF = self.get_DF(df_IR, initial_date, end_date, date_index=True)
        df_cash_DF = df_cash_flow.join(df_DF)
        return df_cash_DF
    
    def add_dcf(self, df_IR, initial_date, end_date, freq_month, roll_date):
        df_cash_DF = self.gen_cash_flow_with_DF(df_IR, initial_date, end_date, freq_month, roll_date)
        dcf_list = list(df_cash_DF.reset_index()['index'] - df_cash_DF.reset_index().shift(1)['index'])
        sr_dcf = pd.Series(dcf_list, index=df_cash_DF.index)
        df_cash_DF['dcf'] = sr_dcf
        return df_cash_DF
    
    def df_with_year_dcf(self, df_IR, initial_date, end_date, freq_month, roll_date):
        df_cash_DF = self.add_dcf(df_IR, initial_date, end_date, freq_month, roll_date)
        df_cash_DF['dcf'] = df_cash_DF['dcf'].apply(lambda x: x.days / self._int_dcc)
        return df_cash_DF
        
    
    def calc_fwd_libor(self, df_IR, initial_date, end_date, freq_month, roll_date):
        df_cash_DF = self.gen_cash_flow_with_DF(df_IR, initial_date, end_date, freq_month, roll_date)
        return df_cash_DF
    
    def get_df(self):
        return self._df
    
    def get_test(self):
        return self._int_dcc

In [298]:
tb = TenorBasis(df_tb, 'USD')
tb.get_test()

365

In [300]:
tb = TenorBasis(df_tb, 'USD')
tb.get_DF(df_IR, '2018/08/02', '2038/08/02').head()
tb.add_dcf(df_IR, '2018/08/02', '2038/08/02', '3M', 2).head()
tb.df_with_year_dcf(df_IR, '2018/08/02', '2038/08/02', '3M', 2)

                  DF       dcf
2018-08-02  1.000000       NaN
2018-11-02  0.994163  0.252055
2019-02-02  0.987359  0.252055
2019-05-02  0.980767  0.243836
2019-08-02  0.973647  0.252055
2019-11-02  0.966256  0.252055
2020-02-02  0.958786  0.252055
2020-05-02  0.951474  0.246575
2020-08-02  0.944050  0.252055
2020-11-02  0.936715  0.252055
2021-02-02  0.929487  0.252055
2021-05-02  0.922598  0.243836
2021-08-02  0.915565  0.252055
2021-11-02  0.908598  0.252055
2022-02-02  0.901692  0.252055
2022-05-02  0.895071  0.243836
2022-08-02  0.888287  0.252055
2022-11-02  0.881562  0.252055
2023-02-02  0.874893  0.252055
2023-05-02  0.868492  0.243836
2023-08-02  0.861922  0.252055
2023-11-02  0.855394  0.252055
2024-02-02  0.848906  0.252055
2024-05-02  0.842595  0.246575
2024-08-02  0.836178  0.252055
2024-11-02  0.829792  0.252055
2025-02-02  0.823440  0.252055
2025-05-02  0.817328  0.243836
2025-08-02  0.811049  0.252055
2025-11-02  0.804810  0.252055
...              ...       ...
2031-05-02  0.677448  0.243836
2031-08-02  0.672132  0.252055
2031-11-02  0.666864  0.252055
2032-02-02  0.661643  0.252055
2032-05-02  0.656582  0.246575
2032-08-02  0.651453  0.252055
2032-11-02  0.646369  0.252055
2033-02-02  0.641330  0.252055
2033-05-02  0.636496  0.243836
2033-08-02  0.631541  0.252055
2033-11-02  0.626628  0.252055
2034-02-02  0.621757  0.252055
2034-05-02  0.617084  0.243836
2034-08-02  0.612294  0.252055
2034-11-02  0.607546  0.252055
2035-02-02  0.602838  0.252055
2035-05-02  0.598322  0.243836
2035-08-02  0.593694  0.252055
2035-11-02  0.589107  0.252055
2036-02-02  0.584560  0.252055
2036-05-02  0.580150  0.246575
2036-08-02  0.575682  0.252055
2036-11-02  0.571253  0.252055
2037-02-02  0.566863  0.252055
2037-05-02  0.562654  0.243836
2037-08-02  0.558341  0.252055
2037-11-02  0.554067  0.252055
2038-02-02  0.549832  0.252055
2038-05-02  0.545770  0.243836
2038-08-02  0.541610  0.252055

[81 rows x 2 columns]

In [275]:
tb.get_DF(df_IR, '2018/08/02', '2038/08/02').head()
tb.add_dcf(df_IR, '2018/08/02', '2038/08/02', '6M', 2)['dcf'].apply(lambda x: x.days) / 365

2018-08-02        NaN
2019-02-02    0.50411
2019-08-02    0.49589
2020-02-02    0.50411
2020-08-02    0.49863
2021-02-02    0.50411
2021-08-02    0.49589
2022-02-02    0.50411
2022-08-02    0.49589
2023-02-02    0.50411
2023-08-02    0.49589
2024-02-02    0.50411
2024-08-02    0.49863
2025-02-02    0.50411
2025-08-02    0.49589
2026-02-02    0.50411
2026-08-02    0.49589
2027-02-02    0.50411
2027-08-02    0.49589
2028-02-02    0.50411
2028-08-02    0.49863
2029-02-02    0.50411
2029-08-02    0.49589
2030-02-02    0.50411
2030-08-02    0.49589
2031-02-02    0.50411
2031-08-02    0.49589
2032-02-02    0.50411
2032-08-02    0.49863
2033-02-02    0.50411
2033-08-02    0.49589
2034-02-02    0.50411
2034-08-02    0.49589
2035-02-02    0.50411
2035-08-02    0.49589
2036-02-02    0.50411
2036-08-02    0.49863
2037-02-02    0.50411
2037-08-02    0.49589
2038-02-02    0.50411
2038-08-02    0.49589
Name: dcf, dtype: float64

In [83]:
base_date = '20180731'
root_path = '/Users/susynishida/Desktop/dev/Python/Finance/input/'
file_name = '/IR.csv'
file_path = os.path.join(root_path + base_date + file_name)
df_IR = pd.read_csv(file_path)

In [68]:
initial_float_rate = DF_obj.get_raw_rate('3M')

In [75]:
df_test = pd.DataFrame(index=generate_cash_flow_month('2018/8/2', '2038/8/2', '3M', roll_date=2))

## trial space

In [78]:
df = pd.DataFrame({'N1': [1, 2, 3, 4, 5, 6],
                   'N2': [10, 20, 30, 40, 50, 60],
                   'N3': [6, 5, 4, 3, 2, 1],
                   'F1': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6],
                   'F2': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6],
                   'S1': ['A', 'b', 'C', 'D', 'E', 'F'],
                   'S2': ['A', 'X', 'X', 'X', 'E', 'F'],
                   'D1': pd.date_range('2014-11-01', freq='D', periods=6)})
df

          D1   F1   F2  N1  N2  N3 S1 S2
0 2014-11-01  1.1  1.1   1  10   6  A  A
1 2014-11-02  2.2  2.2   2  20   5  b  X
2 2014-11-03  3.3  3.3   3  30   4  C  X
3 2014-11-04  4.4  4.4   4  40   3  D  X
4 2014-11-05  5.5  5.5   5  50   2  E  E
5 2014-11-06  6.6  6.6   6  60   1  F  F

In [105]:
df_test = pd.DataFrame({'a': [1,2], 'b': [3,4], 'date': ['20180731', '20180930']})
df_test

   a  b      date
0  1  3  20180731
1  2  4  20180930

In [113]:
df_test['date'] = pd.to_datetime(df_test['date'])
df_test.set_index('date')

            a  b
date
2018-07-31  1  3
2018-09-30  2  4

In [119]:
df_test_2 = pd.DataFrame(np.random.randn(10,2))
df_test_2

          0         1
0  0.711072  0.734881
1 -0.037444  0.704516
2 -0.307548 -0.312760
3 -1.370722  0.837124
4  1.678157  0.650706
5 -0.740335  1.424259
6  1.054841 -0.371938
7 -1.100815 -0.351681
8  0.730635  0.244518
9  0.054926  2.176498

In [124]:
pd.DataFrame({'a': [1, 2], 'b': [3, 4]})

   a  b
0  1  3
1  2  4

In [127]:
sr1 = pd.Series([1, 2, 3, 4])
sr2 = pd.Series([5, 6, 7, 8])

In [306]:
datetime.datetime.today().strftime('%Y/%m/%d')

'2019/04/27'

In [314]:
import csv
from io import StringIO

In [308]:
test = {'2019/4/27': '今日のできごとを記録'}

In [ ]:
open()